{% extends 'base.html' %}

{% block title %}Trader - Your Ultimate Shopping Destination{% endblock %}

{% block body %}

    <!-- Hero Section -->
    <div class="section-hero">
        {% include 'hero_section.html' %}
    </div>
    <!-- Featured Categories -->
    <div class="section-featured-categories">
        {% include 'futured-categorys.html' %}
    </div>
    <!-- Advertisement Banner -->
    <div class="section-advertisement">
        {% include 'advertisement.html' %}
    </div>
    <!-- Featured Brands -->
    <div class="section-featured-brands">
        {% include 'futured-brands.html' %}
    </div>
    <!-- Featured Products -->
    <div class="section-featured-products">
        {% include 'futured-products.html' %}
    </div>
    <!-- Featured Collections -->
    <div class="section-featured-collections">
        {% include 'futured-collections.html' %}
    </div>
    <!-- Features Section -->
    <div class="section-features">
        {% include 'features.html' %}
    </div>
{% endblock body %}
