:root {
    --primary-color: #f3c93e;
    --secondary-color: #434f78;
    --background-color: #ffffff;
    --text-color: #0c0c0c;
  }
  :root {
    --toast-bg-color: #333;
    --toast-text-color: #fff;
  }