{% extends "base.html" %}

{% block body %}

<section class="cart_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center mb-5">
            <h2 class="display-4">Wishlist</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col" colspan="2">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in profile.wishlist.all %}
                                <tr>
                                    <td>
                                        <a href='{% url "product:product_detail" item.slug %}' class="d-flex align-items-center text-decoration-none">
                                            <img src="{{ item.image }}" alt="{{ item.name }}" class="img-thumbnail me-3" style="width: 50px; height: 50px;">
                                            <span class="fw-bold text-dark">{{ item.name }}</span>
                                        </a>
                                    </td>
                                    <td class="fw-bold">${{ item.price }}</td>
                                    <td>
                                        <a href='{% url "product:product_wishlist" item.slug %}' class="btn btn-danger btn-sm">Delete</a>
                                    </td>
                                    <td>
                                        <!-- if item in cart: -->
                                        {% if item.slug in contextCart %}
                                            <a href='{% url "cart:cart_remove" item.slug %}' class="btn btn-danger btn-sm">Remove from Cart</a>
                                        {% else %}
                                            <a href='{% url "cart:cart_add" item.slug %}' class="btn btn-info btn-sm">Add to Cart</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="4" class="text-center text-muted">Your Wishlist is empty.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock body %}

