{% extends "base.html" %}
{% block body %}
{% load crispy_forms_tags %}
<body>
    <div class="container mt-5" style="border: 2px solid #ccc; padding: 20px; background-color: #f8f9fa; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">
        <div class="header text-center mb-4">
            <a href="{% url 'product:products_list' %}" class="btn btn-link">← Back to Home</a>
            <br>
            <a href="{% url 'account:login' %}" class="btn btn-link">← Login</a>
        </div>
        <div class="form-container">
            <h2 class="text-center">Create an Account</h2>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
        </div>
    </div>

</body>
<br>
{% endblock body %}
