<section class="product_section layout_padding">
  <div class="container">
      <div class="heading_container heading_center">
          <h2>Our Products</h2>
      </div>
      <div class="row">
          {% for product in all_products %}
              <div class="col-sm-6 col-lg-4">
                  <div class="box">
                      <div class="img-box">
                          <img src="{% if product.PRDimage %}{{ product.PRDimage.PIMGimage.url }}{% else %}'https://via.placeholder.com/400'{% endif %}" alt="{{ product.PRDname }}" class="img-fluid" />
                      
                      <a href='{% url "products:cart" product.PRDslug  %}' class="add_cart_btn">
                          <span>
                              {% if product not in user_cart or not user.is_authenticated %}Add To Cart{% else %}Remove from Cart{% endif %}
                            </span>
                        </a>
                      </div>
                      {% if product not in user_love or not user.is_authenticated %}
                      <a href='{% url "products:love" product.PRDslug  %}' class="add_cart_btn btn btn-success">
                          <span>Add To Wishlist</span>
                        </a>
                        {% else %}
                        <a href='{% url "products:love" product.PRDslug  %}' class="add_cart_btn btn btn-danger">
                            <span>Remove Wishlist</span>
                        </a>
                        {% endif %}
                        <div class="detail-box">
                            <a href='{% url "product:product_detail" product.PRDslug %}' class="d-flex align-items-center">
                                <h5>{{ product.PRDname }}</h5>
                            </a>
                            <div class="product_info">
                              <h5><span>$</span> {{ product.PRDprice }}</h5>
                              <div class="star_container">
                                  {% for i in "12345" %}
                                      {% if product.overall_rating >= i|add:"0" %}
                                          <i class="fa fa-star" aria-hidden="true"></i>
                                      {% endif %}
                                      
                                  {% endfor %}
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
      
              
              
          {% endfor %}
      
        </div>
      
      <!-- روابط الصفحات -->
      <div class="pagination">
        <span class="step-links">
            {% if all_products.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ all_products.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ all_products.number }} of {{ all_products.paginator.num_pages }}.
            </span>
    
            {% if all_products.has_next %}
                <a href="?page={{ all_products.next_page_number }}">next</a>
                <a href="?page={{ all_products.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

      </div>
</section>
