
{% load static %}

{% block body %}
  

<section class="section">
  
  <div class="container">
    <div class="section_category">
      
      <p class="section_category_p">categories</p>
    </div>
    
    <div class="section_header">
      <h3 class="section_title">Browse by Category</h3>
    </div>

    
    <div class="container" style="border: 2px solid #ccc; padding: 20px; background-color: #f8f9fa; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">
    
    <div class="categories">
      {% for categorie in categories  %}
      <div class="category">
        <a href='{% url "products:category_detail" categorie.pk  %}'>
          <img src={{categorie.CATimage.url}} alt="Category Icon" class="category_icon" />
          <p class="category_name">{{categorie.CATname}}</p>
        </a>
      </div>
    {% endfor %}
    
      </div>
      </div>  

    </div>
  </div>
</section>


{% endblock body %}
  