

<section class="product-section layout-padding">
  <div class="container">
    <div class="heading-container heading-center">
      <h2>Our Products</h2>
    </div>
    <div class="row">
      {% for product in all_products|slice:":5" %}
      <div class="col-sm-6 col-lg-3 col-md-4">
        <div class="box">
          <div class="product-box">
            <div class="img-box">
              <a href="{% url 'product:product_detail' product.slug %}">
                <img src="{% if product.image %}{{ product.image }}{% else %}'https://via.placeholder.com/400'{% endif %}" alt="{{ product.name }}" class="img-fluid" />
              </a>

            </div>
            <div class="product-info">
              <h5>{{ product.name }}</h5>
              <div class="price-box">
                <h5><span>$</span> {{ product.price }}</h5>
              </div>
              <div class="star-container">
                {% for i in "12345" %}
                <i class="fa {% if product.overall_rating >= i|add:"0" %}fa-star{% else %}fa-star-o{% endif %}" aria-hidden="true"></i>
                {% endfor %}
              </div>
              <div class="product-actions">

                {% if product.slug in contextCart %}
                <a href="{% url 'cart:cart_remove' product.slug %}"class="btn btn-warning">
                {% else %}
                <a href="{% url 'cart:cart_add' product.slug %}"class="btn btn-outline-warning">
                {% endif %}
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </a>
                {% if product in contextWishlist %}
                <a href="{% url 'product:product_wishlist' product.slug %}" class="btn btn-danger">
                {% else %}
                <a href="{% url 'product:product_wishlist' product.slug %}" class="btn btn-outline-danger">
                {% endif %}

                  <i class="fa fa-heart" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="btn_box">
      <a href="{% url 'product:products_list' %}" class="view_more-link">
        View More
      </a> 
    </div>
  </div>
</section>

