
<section class="product_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        Our Products
      </h2>
    </div>
    <div class="row">
      {% for product in all_products|slice:":4" %}

        <div class="col-sm-6 col-lg-4">
          <div class="box">
            <div class="img-box">
              <img src="{% if product.image %}{{ product.image.url }}{% else %}'https://via.placeholder.com/400'{% endif %}" alt="{{ product.name }}" class="img-fluid" />
                {% if product.slug not in contextCart or not user.is_authenticated %}
              <a href='{% url "cart:cart_add" product.slug  %}' class="add_cart_btn">
                  <span>
                              Add To Cart
                            </span>
                        </a>
                      </div>
                      {% else %}
                      <a href='{% url "cart:cart_remove" product.slug  %}' class="add_cart_btn">
                          <span>
                              Remove from Cart
                            </span>
                        </a>
                      </div>
                      {% endif %}
            {% if product not in contextWishlist or not user.is_authenticated %}
            <a href='{% url "product:product_wishlist" product.slug  %}' class="add_cart_btn btn btn-success w-50">
              <span >
                Add To Wishlist
              </span>
            </a>
            {% else %}
            <a href='{% url "product:product_wishlist" product.slug  %}' class="add_cart_btn btn btn-danger w-50">
              <span >
                Remove Wishlist
              </span>
            </a>
            {% endif %}
            
            
            <div class="detail-box">
              <a href='{% url "product:product_detail" product.slug %}' class="d-flex align-items-center">

                <h5>
                  {{ product.name }}
                </h5>
              </a>
              <div class="product_info">
                <h5>
                  <span>$</span> {{ product.price }}
                </h5>
                
                <div class="star_container">
                  {% if product.overall_rating >= 1 %}<i class="fa fa-star" aria-hidden="true"></i>{% else %}<i class="fa fa-star-o" aria-hidden="true"></i>{% endif %}
                  {% if product.overall_rating >= 2 %}<i class="fa fa-star" aria-hidden="true"></i>{% else %}<i class="fa fa-star-o" aria-hidden="true"></i>{% endif %}
                  {% if product.overall_rating >= 3 %}<i class="fa fa-star" aria-hidden="true"></i>{% else %}<i class="fa fa-star-o" aria-hidden="true"></i>{% endif %}
                  {% if product.overall_rating >= 4 %}<i class="fa fa-star" aria-hidden="true"></i>{% else %}<i class="fa fa-star-o" aria-hidden="true"></i>{% endif %}
                  {% if product.overall_rating >= 5 %}<i class="fa fa-star" aria-hidden="true"></i>{% else %}<i class="fa fa-star-o" aria-hidden="true"></i>{% endif %}
                </div>

              </div>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>

    <div class="btn_box">
      <a href="{% url 'product:products_list' %}" class="view_more-link">
        View More
      </a>
    </div>
  </div>
</section>
